<div id="contact-form" class="columns">
    <div class="column is-9 is-offset-1">
        <form action="https://formspree.io/{{ site.me.email }}" method="POST">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">To</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control mailto">
                            <a  href="mailto:{{ site.me.email }}">
                                {{ site.me.email }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">From</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="email" name="_replyto" placeholder="E-mail">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Name</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="text" name="name" placeholder="Name">
                        </p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Message</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea" name="message" placeholder="Message"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-info is-pulled-right">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
