<footer class="footer">
    <div class="level is-hidden-mobile">
        <div class="level-left copyright">
            <span class="level-item">
                <i class="far fa-copyright"></i> {{ site.me.name | escape }} {{ 'now' | date: "%Y" }}
            </span>
        </div>

        {%- assign social = site.social_links -%}
        <div class="level-right social">
            <span class="level-item links">
                <a href="https://www.linkedin.com/in/{{ social.linkedin | cgi_escape | escape }}"
                    title="{{ social.linkedin | escape }}"><i class="fab fa-linkedin fa-lg"></i></a>
            </span>
            <span class="level-item">
                <a href="https://github.com/{{ social.github | cgi_escape | escape }}"
                    title="{{ social.github | escape }}"><i class="fab fa-github fa-lg"></i></a>
            </span>
            <span class="level-item">
                <a href="https://www.flickr.com/photos/{{ social.flickr | cgi_escape | escape }}"
                    title="{{ social.flickr | escape }}"><i class="fab fa-flickr fa-lg"></i></a>
            </span>
        </div>
    </div>

    <div class="level is-hidden-tablet">
        <div class="social mobile is-hidden-tablet">            
            <span class="copyright">
                <span class="level-item">
                    <i class="far fa-copyright"></i> {{ site.me.name | escape }} {{ 'now' | date: "%Y" }}
                </span>
            </span>
        </div>
    </div>
</footer>
