<header>
    <nav class="navbar" role="navigation" aria-navigation="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-size-2 is-size-4-touch"
                href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
            <!-- <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="site-nav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a> -->
        </div>

        <!-- <div id="site-nav" class="navbar-menu">
            <div class="navbar-end">
                 todo 
            </div>
        </div> -->
    </nav>
</header>
