$font:              'Roboto', sans-serif !important;
$font-weight:       300 !important;

$white-accent:      hsl(212, 60%, 95%);
$blue:              hsl(195, 100%, 33%);
$black:             hsl(0, 0%, 21%);

$avatar-size:       256px;

$spaced:            9rem;
$half-spaced:       4.5rem;
$quarter-spaced:    2.25rem;
$tiny-spaced:       1.125rem;
$micro-spaced:      0.75rem;
